body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #00837d, #cbf4f2);

    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  